*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e8e885;
    text-align: center;
}

.players{
    /* height: 20vh;
     justify-content: center;
    align-items: center; */
    font-size: 4vmin;
    margin-top: 20px;
    position: absolute;
    left: 95rem;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}

.box{
    width: 18vmin;
    height: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 0.6rem rgba(0,0,0,1.2); 
    font-size: 8vmin;
    color:  #E61410;
    background-color: #78c378;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #333;
    color: white;
    border-radius: 1rem;
    border: none;
    position:absolute;
    left: 59rem;
}

#newgame{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #333;
    color: white;
    border-radius: 1rem;
    border: none;
}

#paramsg{
    color: #1D6178;
    font-size: 7vmin;
    font-weight: 700;
}

.msg{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.hide{
    display: none;
}